<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>

    <add key="Apol_NomeUsuario" value="albinold" />
    <add key="Apol_SenhaUsuario" value="123" />
    <add key="Apol_Server" value="http://netuno" />
    <add key="Apol_Port" value="101" />
    <add key="Apol_WebDirectory" value="/apol3/" />

    <add key="ModuloConsulta_Server" value="http://netuno" />
    <add key="ModuloConsulta_Port" value="101" />
    <add key="ModuloConsulta_WebDirectory" value="/apolcli/" />

    <add key="Webseek_NomeUsuario" value="albinold" />
    <add key="Webseek_SenhaUsuario" value="123" />
    <add key="Webseek_WebDirectory" value="/webseek/" />

    <add key="Intranet_NomeUsuario" value="albinold" />
    <add key="Intranet_SenhaUsuario" value="123" />
    <add key="Intranet_Server" value="http://netuno" />
    <add key="Intranet_Port" value="101" />
    <add key="Intranet_WebDirectory" value="/portal_webseek/intranet/" />

    <add key="PortalLD_Server" value="http://netuno" />
    <add key="PortalLD_Port" value="101" />
    <add key="PortalLD_WebDirectory" value="/siteld/novosite/" />

  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <language feature="pt-BR" />
    <unitTestProvider name="NUnit" />
  </specFlow>
</configuration>