<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Intranet_NomeUsuario"
         value="albinold"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"
         />

    <add key="Intranet_SenhaUsuario"
         value="123"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"
         />

    <add key="Apol_NomeUsuario"
         value="titan"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"
         />

    <add key="Apol_SenhaUsuario"
         value="123"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"
         />

    <add key="Apol_Server"
     value="http://netuno"
     xdt:Transform="SetAttributes"
     xdt:Locator="Match(key)"
         />

    <add key="Apol_Port"
         value="88"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"
         />

    <add key="Apol_WebDirectory"
     value="/apol3/"
     xdt:Transform="SetAttributes"
     xdt:Locator="Match(key)"
         />
  </appSettings>

</configuration>